@import 'generics'
@import 'footer'

#now
  font-size 200%

  > .date
    color blue

  > .time
    color red

#icons
  @media screen and (min-width: 600px)
    column-count 2

  .glyphicon
    margin 20px
    vertical-align middle
    font-size 400%
    color green
    text-shadow 0 2px 5px black
